# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
env/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-error.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# dotenv
.env.local
.env.*.local
